.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@font-face {
  font-family: Lobster;
  src: url('fonts/Lobster_1.3.otf');
}

@font-face {
  font-family: Open Sans;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Open Sans;
  src: url('fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Open Sans;
  src: url('fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Open Sans;
  src: url('fonts/OpenSans-Italic.ttf');
  font-style: italic;
  font-weight: bold;
}

body {
  margin-top: 0;
  background-color: #F0EAE7;
}

.container {
  margin-left: auto;
  margin-right: auto;
  font-family: Open Sans;
}

.page-header {
  font-family: Lobster;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.6);
  margin: 0;
  height: 1em;
  position: absolute;
  top: 0;
  z-index: 2;
}

.blurbs-overlay {
  margin: 1.5em 0 0 1.5em;
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 2;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 1px grey solid;
}

.top-section {
  position: relative;
}

#map {
  height: 100%;
  cursor: initial;
  .leaflet-marker-icon {
    cursor: initial;
  }
}

.timeline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6em;
}

.graph-point {
  cursor: pointer;
}

.blurb {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  &.-active {
    display: block;
  }
}

.blurb-header {
  font-size: 16px;
}

.blurb-image {
}

.blurb-text {
}

